<div class="mt-5">
  <div class="row">
    <div class="col-2">
        <h4>Front-End</h4>
        <p>HTML, CSS</p>
        <p>Javascript</p>
        <h4>Back-End</h4>
        <p>Nodejs</p>
    </div>
    <div class="col-10">
        <div class="row">
            {{#each courses}}
            <div class="col-4">
                <div class="card m-3 text-center">
                        <img class="card-img-top w-50 ml-auto mr-auto" src="{{this.image}}" alt="{{this.name}}" />
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <a href="/courses/{{this.slug}}" class="btn btn-primary">Buy</a>
                        </div>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
 
    </div>
  </div>

</div>